* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #1A0B2E;
    color: white;
    overflow-x: hidden;
}

/*nav bar & hero parents class */
.header-top {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* navbar child item control parents class */
.nav-container {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

/* nav bar full logo control container  */
.logo-container {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

/* nav logo [wave] text color design  */
.nav-logo {
    color: rgb(212, 0, 255);
    display: inline-block;
}

/* nav bar link text adjust  */
.link-text {
    text-decoration: none;
    color: #D1D5DB;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

/* nav bar link text hover effect apply  */
.link-text:hover {
    color: white;
}

/* nav bar button design  */
.primary-btn {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 50%, #9100F8 100%);
    color: white;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    border: none;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    display: inline-flex;
    gap: 1px;
    justify-content: center;
}

/* nav bar button hover effect apply  */
.primary-btn:hover {
    box-shadow: 0 0 20px rgba(238, 3, 226, 0.685);
    transform: scale(1.02);
}

/* shared styles for hide input box and subscribe button */
#check-menu,
.nav-button {
    display: none;
}

/* mobile responsive humburger level adjust  */
.humburger-label {
    display: block;
    cursor: pointer;
}

/* humburger icon img setup  */
.humburger-img {
    margin-top: 5px;
    width: 30px;
}

/* humburger icon function setup  */
.list-container {
    display: flex;
    position: fixed;
    list-style: none;
    flex-direction: column;
    top: 85px;
    right: -100%;
    width: 50%;
    max-width: 250px;
    height: auto;
    background-color: #1A0B2E;
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    gap: 30px;
    z-index: 1000;
    transition: 0.5s ease;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);
}

/* right side animation for list item */
#check-menu:checked~.list-container {
    right: 0;
}


/* hero section mobile first */
.hero-section {
    padding: 40px 0;
    text-align: center;
}

.hero-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-parents {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 440px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto;
    align-items: center;
}

.hero-main-background {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.microphone-group {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* cirle image adjust hero main background  */
.circle-png {
    width: 100%;
    position: absolute;
}

/* mic icon adjust circle image  */
.mic-png {
    width: 60px;
    position: relative;
    z-index: 3;
}

/* NEW button add mic images */
.new-btn {
    position: absolute;
    top: 4px;
    right: 10px;
    background: #00FF88;
    color: #1A0B2E;
    padding: 5px 16px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    z-index: 4;
}

/* hero section h1 heading adjust  */
.hero-tittle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

/* hero section paragraf adjust  */
.hero-description {
    font-size: 16px;
    color: #ffffffd8;
    margin-bottom: 24px;
}

/* hero all button parents  */
.hero-btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    padding: 0 5px;
}

/* transparent button making  */
.transparent-btn {
    background: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.5s ease-in-out;
}

/* TRANSPARENT button hover effect apply  */
.transparent-btn:hover {
    transform: scale(1.02);
}

/* mobile device hero section button adjust  */
.hero-btn-group button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 10rem;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 14px;
    gap: 8px;
    cursor: pointer;
}

.btn-icon-png {
    width: 20px;
    height: auto;
}

/* about the podcast section  */
.podcast-section {
    width: 100%;
    max-width: 440px;
    padding: 40px 20px;
    margin: 0 auto;
    text-align: center;
}

.podcast-heading {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.podcast-description {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: #ffffffd8;
    margin-bottom: 40px;
}

.content-underline {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    max-width: 100%;
    margin-top: 40px;
    text-align: center;
}

.card-heading {
    color: #00FF88;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.card-description {
    font-size: 12PX;
    letter-spacing: 1px;
    line-height: 1.2rem;
    color: #D1D5DB;
}

/* why choose TechWave Section  */
.why-choose-section {
    padding: 40px 15px;
    max-width: 1200px;
    margin: 0 auto;
}

.all-grid-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.why-choose-section-main-heading {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.grid-box {
    background-color: #35116577;
    padding: 24px;
    border-radius: 24px;
}

.grid-box img {
    width: 60px;
    margin-bottom: 16px;
}

.grid-box-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.grid-box-description {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #D1D5DB;
}


/* mobile responsive code  */
@media screen and (min-width: 576px) {
    .nav-container {
        width: 95%;
    }

    /* small device logo size fixed  */
    .logo-container {
        font-size: 2rem;
    }
}

@media screen and (min-width: 993px) {

    /* humburger icon large device hide  */
    .humburger-label {
        display: none;
    }

    /* large device subscribe button showing */
    .nav-button {
        display: inline-flex;
    }

    /* large device list item fixed  */
    .list-container {
        position: static;
        flex-direction: row;
        background: transparent;
        gap: 3rem;
        justify-content: center;
        padding: 0;
        box-shadow: none;
    }

    /* hero section responsive for large device  */
    .hero-container {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 40px;
    }

    .hero-tittle {
        font-size: 3.5rem;
    }

    /* PODCAST SECTION RESPONSIVE 993PX  */
    .podcast-section {
        max-width: 1600px;
        margin: 0 auto;
        padding: 3rem 7rem;
    }

    .podcast-container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .podcast-heading {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    .podcast-description {
        font-size: 18px;
        line-height: 25px;
    }

    .grid-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .card-description {
        font-size: 16px;
    }

    /* why choose TECHWAVE section responsive design for 993px  */

    .why-choose-section-main-heading {
        font-size: 2.5rem;
        margin-bottom: 40px;
    }

    .all-grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        gap: 30px;
        margin: 0 auto;
    }

    .grid-box:nth-child(1) {
        grid-row: span 1;
    }

    .grid-box:nth-child(4) {
        grid-column: span 2;
    }

}